name: Goals Deployment
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  workflow_dispatch:

env:
  BACKEND_IMAGE: goals_backend
  FRONTEND_IMAGE: goals-frontend


jobs:
  build_backend:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.vars.outputs.VERSION }}
      IS_RELEASE: ${{ steps.vars.outputs.IS_RELEASE }}


    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Detect version
        id: vars
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
            echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
            echo "IS_RELEASE=true" >> $GITHUB_OUTPUT

          else
            VERSION="dev-${GITHUB_SHA::7}" 
            echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
            echo "IS_RELEASE=false" >> $GITHUB_OUTPUT
          
          fi

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: ${{ steps.vars.outputs.IS_RELEASE == 'true' }}
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE }}${{ steps.vars.outputs.IS_RELEASE == 'true' && ':latest' || '' }}

            ${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE }}:${{ steps.vars.outputs.VERSION }}
            

  build_frontend:
    needs: build_backend
    runs-on: ubuntu-latest


    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          build-args: |
            REACT_APP_API_URL: ${{ secrets.REACT_APP_API_URL}}
          push: ${{ steps.vars.outputs.IS_RELEASE == 'true' }}
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ env.FRONTEND_IMAGE }}${{ needs.build_backend.outputs.IS_RELEASE == 'true' && ':latest' || '' }}

            ${{ secrets.DOCKER_USERNAME }}/${{ env.FRONTEND_IMAGE }}:${{ needs.build_backend.outputs.VERSION }}

